.main {
  display: grid;
}

.main > form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 25%);
}

.image {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.image > div {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: center;
}

.name {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.name > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.types {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.types > div{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding: 10px;
}

.languages {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.languages > div{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding: 20px;
}

.submit {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.submit > div {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}