.card {
  display: flex;
  flex-direction: row;
}

.card > img {
  height: 200px;
  width: 100px
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  contain: content;
  width: 80%;
}

.cardInfo * {
  margin: 0;
}