.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  background-color:rgb(207, 237, 232);
  text-align: center;
}

.card > img {
  max-width: 140px;
  align-self: center;
  width: 30%;
  object-fit: contain;
  border: 4px double black;
  margin: 10px;;
}

.cardInfo > h2  {
  margin-bottom: 20px;
}

.cardInfo {
  padding-top: 10px;
  contain: content;
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
}

.cardInfo * {
  margin: 0;
}